/* This is my CSS File! */
/* All of these items can be editted by using the name of the item we want to edit. Example: "h1" this will change header 1. */
/* "id" is more specific than "class" and "element name" is the least specific. */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yellowtail&display=swap');

/* --------------- Element - General --------------- */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-image: url("./images/340554.png");
    background-size: cover;
    margin: 0px 0px 0px 0px;
}

h1 {
    margin-left: 25px;
    font-family: 'Yellowtail';
    justify-content: space-between;
    font-size: 35px;
}

h2 {
    font-family: 'Caveat';
    font-size: 35px;
}

li {
    font-family: 'Yellowtail';
    float: right;
    list-style-type: none;
    margin-right: 6px;
}

.navbarlink {
    display: block;
    padding: 8px;
    background-color: cyan;
    font-size: 25px;
    color: black;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.navbarlink:hover {
    text-decoration: underline;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

h3 {
    text-decoration: underline;
}

/* --------------- ID - Most specific --------------- */

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#header img {
    border-radius: 100px;
    margin: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

#aboutmebox {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    align-items: center;
    text-align: center;
    font-family: 'Caveat';
    font-size: 28px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

#abouttext {
    width: 500px;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar li {
    margin: 10px;
}

#textbox {
    font-family: 'Caveat';
    font-size: 28px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
    width: 500px;
}

#navbarcontainer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 0px 10px 0px 10px;
}

#name {
    color: black;
}

#logos img {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
}

#sociallogos img {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
}

#sociallogos {
    display: flex;
    justify-content: center;
}

/* --------------- Class - Less specific --------------- */

.contact {
    margin-top: 32px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 16px;
}

.contact-form-container {
    max-width: 652px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.contact-form-container label {
    line-height: 43.2px;
    font-weight: bold;
    color: blue;
}

.contact-form-container textarea {
    min-height: 100px;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px outset blue;
    font-size: 14px;
    outline: none;
}

.projects {
    padding: 32px 0;
    margin-top: 32px;
}

.project-pic {
    width: 90%;
    height: 75%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 16px;
}

.project-container {
    text-align: center;
    width: 375px;
    padding: 16px;
}

.project-container p {
    padding: 6.4px;
}

.project-title {
    margin-bottom: 8px;
    color: black;
}

.project-details {
    margin-bottom: 8px;
    color: black;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}